<nav class="navbar">
    <div class="wrap">
      <div class="navbar__site-name">
        <a href="/manage">管理後台</a>
      </div>
      <ul class="navbar__list">
        <li><a href="/manage/employee/add">建立員工資料</a></li>
        <li><a href="/manage/employee">員工管理</a></li>
        <li><a href="/generator">文件產生器</a></li>
        <li><a href="/">登出</a></li>
      </ul>
    </div>
  </nav>